*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: $font-stack;
    background: $clr-bg;
    color: $clr-text;
    line-height: 1.6;
}

.container {
    width: min(90%, 70rem);
    margin-inline: auto;
    padding-block: 2rem;
}

h1,
h2,
h3 {
    color: $clr-primary;
    line-height: 1.2;
}

a {
    color: $clr-primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
